body {
  display: flex;

  justify-content: center;
  align-items: center;
  
  min-height: 100vh;
  margin: 0;

  overflow: hidden;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;

  display: block;
  width: 100vw;
  height: 100vh;
}

#sidebar {
  position: absolute;
  top: 0;
  left: 0;

  height: 100vh;

  border-right: 1px solid black;
}

fieldset {
  border:0;
}

fieldset > *{
  display: block;
}

fieldset[disabled] {
  display: none;
}
