body {
  display: flex;

  justify-content: center;
  align-items: center;
  
  min-height: 100vh;
  margin: 0;

  overflow: hidden;
  font-family: Arial, sans-serif;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;

  display: block;
  width: 100vw;
  height: 100vh;

  background: white;
}

#sidebar {
  position: absolute;
  top: 0;
  left: 0;

  height: 100vh;

  background: rgba(0,0,0,0.7);
  color: white;
}

#sidebar > hr {
  width: 90%;
}

#sidebar > fieldset {
  border:0;
  width: 100%;
  box-sizing: border-box;
}

#sidebar > fieldset > h2 {
  margin-top: 1rem;
}

#sidebar > hr  + fieldset > h2{
  margin-top: 0;
}

#sidebar > fieldset > label,
#sidebar > fieldset > button,
#sidebar > fieldset > select {
  display: block;
}

#sidebar > fieldset > select {
  padding: 0.5rem 0.2rem;
}

#sidebar > fieldset > button {
  padding: 0.5rem; 
}

#sidebar > label > select  {
  padding: 0.2rem;
}

#style > label {
  text-align: right;
  white-space: nowrap;
}

#style > label > button,
#style > label > input,
#style > label > select {
  width: 10rem;
}

#actions > button {
  width: 100%;
}
